*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Semana01/AprendiendoJava/nbproject/private/
/Semana01/AprendiendoJava/build/
/Semana01/PedidoApp/nbproject/private/
/Semana01/PedidoApp/build/
/Semana01/PedidoApp/dist/
/Semana01/CARRANZA_SOLIS/Notas/build/
/Semana01/CARRANZA_SOLIS/Notas/nbproject/private/
/Semana02/AprendiendoJava/nbproject/private/
/Semana02/AprendiendoJava/build/